<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.vhr.mapper.StockExecuteResultMapper">
  <resultMap id="BaseResultMap" type="org.javaboy.vhr.model.StockExecuteResult">
    <!--@mbg.generated-->
    <!--@Table stock_execute_result-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date_exec" jdbcType="VARCHAR" property="dateExec" />
    <result column="command" jdbcType="VARCHAR" property="command" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="time_create" jdbcType="TIMESTAMP" property="timeCreate" />
    <result column="time_update" jdbcType="TIMESTAMP" property="timeUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, date_exec, command, `status`, time_create, time_update
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_execute_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from stock_execute_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.javaboy.vhr.model.StockExecuteResult" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into stock_execute_result (date_exec, command, `status`, 
      time_create, time_update)
    values (#{dateExec,jdbcType=VARCHAR}, #{command,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{timeCreate,jdbcType=TIMESTAMP}, #{timeUpdate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.javaboy.vhr.model.StockExecuteResult">
    <!--@mbg.generated-->
    update stock_execute_result
    set date_exec = #{dateExec,jdbcType=VARCHAR},
      command = #{command,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      time_create = #{timeCreate,jdbcType=TIMESTAMP},
      time_update = #{timeUpdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getBeanlistByCommand" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from stock_execute_result
    <where>
      <if test="command!=null">
        and command = #{command,jdbcType=INTEGER}
      </if>
      <if test="dateExec!=null">
        and date_exec = #{dateExec,jdbcType=INTEGER}
      </if>
      order by time_create desc
    </where>
  </select>
</mapper>