<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.vhr.mapper.StockMessageLogMapper">
  <resultMap id="BaseResultMap" type="org.javaboy.vhr.model.StockMessageLog">
    <!--@mbg.generated-->
    <!--@Table stock_message_log-->
    <result column="msgId" jdbcType="VARCHAR" property="msgid" />
    <result column="empId" jdbcType="INTEGER" property="empid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="routeKey" jdbcType="VARCHAR" property="routekey" />
    <result column="exchange" jdbcType="VARCHAR" property="exchange" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="time_try" jdbcType="TIMESTAMP" property="timeTry" />
    <result column="time_create" jdbcType="TIMESTAMP" property="timeCreate" />
    <result column="time_update" jdbcType="TIMESTAMP" property="timeUpdate" />
    <result column="message_type" jdbcType="INTEGER" property="messageType" />
    <result column="send_type" jdbcType="INTEGER" property="sendType" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="title" jdbcType="VARCHAR" property="title" />
  </resultMap>

  <resultMap id="AllBeanInfo" type="org.javaboy.vhr.model.StockMessageLog" extends="BaseResultMap">
    <association property="employee" javaType="org.javaboy.vhr.model.Employee">
      <id column="eid" property="id"/>
      <result column="ename" property="name"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    msgId, empId, `status`, routeKey, exchange, `count`, time_try, time_create, time_update, 
    message_type, send_type, content, flag, title
  </sql>
  <insert id="insert" parameterType="org.javaboy.vhr.model.StockMessageLog">
    <!--@mbg.generated-->
    insert into stock_message_log (msgId, empId, `status`, 
      routeKey, exchange, `count`, 
      time_try, time_create, time_update, 
      message_type, send_type, content, flag, title)
    values (#{msgid,jdbcType=VARCHAR}, #{empid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{routekey,jdbcType=VARCHAR}, #{exchange,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, 
      #{timeTry,jdbcType=TIMESTAMP}, #{timeCreate,jdbcType=TIMESTAMP}, #{timeUpdate,jdbcType=TIMESTAMP}, 
      #{messageType,jdbcType=INTEGER}, #{sendType,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR},
      #{flag,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR})
  </insert>

  <update id="updateStockMessageLogStatus">
    update stock_message_log set status = #{status} where msgId=#{msgId};
  </update>

  <select id="getStockMessageLogByStatus" resultMap="BaseResultMap">
    select * from stock_message_log where time_try &lt; sysdate()
    <if test="status!=null">
      and status=#{status, jdbcType=INTEGER}
    </if>
  </select>

  <update id="updateCount">
    update stock_message_log set count=count+1,time_update=#{date} where msgId=#{msgId};
  </update>

  <select id="getBeanlistByBeanAndPage" resultMap="AllBeanInfo">
    select s.*,e.`id` as eid,e.`name` as ename from stock_message_log s, employee e where s.`empId` = e.`id`
    <if test="bean.employee.name !=null and bean.employee.name!=''">
      and e.name like concat('%',#{bean.employee.name},'%')
    </if>
    order by time_create desc
    <if test="page !=null and size!=null">
      limit #{page},#{size}
    </if>
  </select>
  <select id="getTotalByBean" resultType="java.lang.Long">
    select count(*) from stock_message_log s, employee e where  s.`empId` = e.`id`
    <if test="bean.employee.name !=null and bean.employee.name!=''">
      and e.name like concat('%',#{bean.employee.name},'%')
    </if>
  </select>

  <select id="getMessageLogByDateResearch" resultMap="BaseResultMap">
    select * from stock_message_log where status = 1
    <if test="messageType!=null">
      and message_type=#{messageType, jdbcType=INTEGER}
    </if>
    <if test="sendType!=null">
      and send_type=#{sendType, jdbcType=INTEGER}
    </if>
    <if test="flag!=null">
      and flag=#{flag, jdbcType=VARCHAR}
    </if>
    <if test="dateResearch!=null">
      and title like concat('%-',#{dateResearch})
    </if>
  </select>
</mapper>