<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.vhr.mapper.UStockWeeklyLineResultMapper">
  <resultMap id="BaseResultMap" type="org.javaboy.vhr.model.UStockWeeklyLineResult">
    <!--@mbg.generated-->
    <!--@Table u_stock_weekly_line_result-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rehabilitation_way" jdbcType="VARCHAR" property="rehabilitationWay" />
    <result column="date_weekly_research" jdbcType="VARCHAR" property="dateWeeklyResearch" />
    <result column="date_weekly_start" jdbcType="VARCHAR" property="dateWeeklyStart" />
    <result column="result" jdbcType="INTEGER" property="result" />
    <result column="ema_result" jdbcType="INTEGER" property="emaResult" />
    <result column="time_create" jdbcType="TIMESTAMP" property="timeCreate" />
    <result column="time_end" jdbcType="TIMESTAMP" property="timeEnd" />
    <result column="generate_type" jdbcType="INTEGER" property="generateType" />
    <result column="result_desc" jdbcType="LONGVARCHAR" property="resultDesc" />
    <result column="ema_result_desc" jdbcType="LONGVARCHAR" property="emaResultDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, rehabilitation_way, date_weekly_research, date_weekly_start, `result`, ema_result, 
    time_create, time_end, generate_type, result_desc, ema_result_desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from u_stock_weekly_line_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from u_stock_weekly_line_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.javaboy.vhr.model.UStockWeeklyLineResult" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into u_stock_weekly_line_result (rehabilitation_way, date_weekly_research, 
      date_weekly_start, `result`, ema_result, 
      time_create, time_end, generate_type, 
      result_desc, ema_result_desc)
    values (#{rehabilitationWay,jdbcType=VARCHAR}, #{dateWeeklyResearch,jdbcType=VARCHAR}, 
      #{dateWeeklyStart,jdbcType=VARCHAR}, #{result,jdbcType=INTEGER}, #{emaResult,jdbcType=INTEGER}, 
      #{timeCreate,jdbcType=TIMESTAMP}, #{timeEnd,jdbcType=TIMESTAMP}, #{generateType,jdbcType=INTEGER}, 
      #{resultDesc,jdbcType=LONGVARCHAR}, #{emaResultDesc,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.javaboy.vhr.model.UStockWeeklyLineResult">
    <!--@mbg.generated-->
    update u_stock_weekly_line_result
    set rehabilitation_way = #{rehabilitationWay,jdbcType=VARCHAR},
      date_weekly_research = #{dateWeeklyResearch,jdbcType=VARCHAR},
      date_weekly_start = #{dateWeeklyStart,jdbcType=VARCHAR},
      `result` = #{result,jdbcType=INTEGER},
      ema_result = #{emaResult,jdbcType=INTEGER},
      time_create = #{timeCreate,jdbcType=TIMESTAMP},
      time_end = #{timeEnd,jdbcType=TIMESTAMP},
      generate_type = #{generateType,jdbcType=INTEGER},
      result_desc = #{resultDesc,jdbcType=LONGVARCHAR},
      ema_result_desc = #{emaResultDesc,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getBeanlistByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from u_stock_weekly_line_result order by time_create desc
    <if test="page !=null and size!=null">
      limit #{page},#{size}
    </if>
  </select>
  <select id="getTotal" resultType="java.lang.Long">
    select count(*) from u_stock_weekly_line_result
  </select>
  <select id="getBeanListByPro" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from u_stock_weekly_line_result
    <where>
      result = 0 and date_weekly_research = #{dateWeeklyResearch,jdbcType=VARCHAR}
      <if test="generateType!=null">
        and generate_type = #{generateType,jdbcType=INTEGER}
      </if>
      <if test="emaStatus!=null">
        and ema_result = #{emaStatus,jdbcType=INTEGER}
      </if>
      order by time_create desc
    </where>
  </select>
</mapper>